<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Đăng nhập</title>
<style>
input[type=text] {
  width: 250px;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=password] {
  width: 250px;
  transition: ease-in-out, width .35s ease-in-out;
}
</style>
</head>

<body>
    <div align="center">
    	<h1>Quản lý cửa hàng</h1>
        <form action="#" th:action="@{/home}" th:object="${nhanvien}"
            method="post">
 
            <table border="0" cellpadding="10">
            	
                <tr>
                    <td>Tên đăng nhập :</td>
                    <td><input type="text" th:field="*{tenDangNhap}" autofocus/></td>
                    <td><span style="color:red" th:text="${er_username}"></span></td>
                </tr>
                <tr>
                    <td>Mật khẩu:</td>
                    <td><input type="password" th:field="*{matKhau}" /></td>
                    <td><span style="color:red" th:text="${er_pass}"></span></td>
                </tr>
                                        
                <tr>
                	<td></td>
                	<td><button type="submit">Đăng nhập</button> </td> 
                </tr>
                
                <tr>
                	<td>
                	</td>
                	<td><span 
                    	style="color:red" th:text="${er_account}"></span> 
                    </td>
                    <td>
                    </td>
                </tr>
                
            </table>
        </form>
        
    </div>
    
    
</body>
</html>